<a href="https://colab.research.google.com/github/Leon-Roza/Cotacao_FIIs/blob/main/Web_scrapping_Covid.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import csv
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd

html = urlopen("https://bit.ly/3jpMFRW")
soup = BeautifulSoup(html, "html.parser")
table = soup.findAll("table", {"class":"wikitable"})[0]
rows = table.findAll("tr")

with open("Dataset.csv", "wt+", newline="") as f:
    writer = csv.writer(f)
    for i in rows:
        row = []
        for cell in i.findAll(["td", "th"]):
            row.append(cell.get_text())
        writer.writerow(row)
data = pd.read_csv("Dataset.csv")
data.head()

   \n           Location\n        Cases\n     Deaths\n
0  \n           World[a]\n  651,758,390\n  6,661,622\n
1  \n  European Union[b]\n  179,925,382\n  1,182,602\n
2  \n      United States\n   99,826,698\n  1,087,013\n
3  \n              India\n   44,676,832\n    530,663\n
4  \n             France\n   38,785,415\n    160,297\n

In [6]:
data

,\n,Location\n,Cases\n,Deaths\n
0,\n,World[a]\n,"651,758,390\n","6,661,622\n"
1,\n,European Union[b]\n,"179,925,382\n","1,182,602\n"
2,\n,United States\n,"99,826,698\n","1,087,013\n"
3,\n,India\n,"44,676,832\n","530,663\n"
4,\n,France\n,"38,785,415\n","160,297\n"
...,...,...,...,...
218,\n,Vatican City\n,29\n,0\n
219,\n,North Korea\n,1\n,6\n
220,\n,Turkmenistan\n,0\n,0\n
221,\n,Tokelau\n,0\n,0\n
222,.mw-parser-output .reflist{font-size:90%;margi...,NaN,NaN,NaN